* {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	background-color: #707f62;
}

p {
	color: #eee;
}

header {
	background-image: url(image/paint.png);
	background-size: cover;
	background-position: 69% bottom;
	height: 90vh;

	box-shadow: inset 0 -200px 200px #707f62;
	-webkit-box-shadow: inset 0 -100px 100px #707f62;
}

header h1 {
	font-size: 4em;
}

header h2 {
	font-size: 3.8em;
}

header p {
	font-size: 1.5em;
}


.shadow-container {
	background-color: #0005;
	border-radius: 50px;
	box-shadow: 0 0 100px 100px #0005
}

.divider {
	display: block;
	height: 10vh;
}

.border-none {
	border: none;
}

.border-inverse-cup {
	border-right: solid 1px #eee;	
	border-top:   solid 1px #eee;	
	border-left:  solid 1px #eee;	
}

.border-cup {
	border-right: solid 1px #eee;	
	border-bottom: solid 1px #eee;	
	border-left: solid 1px #eee;	
}

.montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.playfair {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.lobster {
	font-family: "Lobster", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.white {
	color: #eee;
}

.gold {
	color: #f0b71c;
}

/* TODO: better highlight */
.highlighted {
	background-color: #f0b71c;
}