.title-section {
    box-sizing: content-box;
    height: 100vh;
    margin-bottom: 5em;
    box-shadow: 0 -40px 50px -50px #000 inset;
}

.gift-card {
	-webkit-border-radius: 50px;
    border-radius: 50px;
    background: #D1D8EC;
    border: solid 10px #D1D8EC;
    background-size: cover;
    -webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
    box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
    margin-bottom: 5em;
    width: 300px;
    height: 300px;
}
