* {
	box-sizing: border-box;
}

body {
	background: #D1D8EC;
	background: #D1D8EC;
	color: #333;
	overflow-x: hidden !important;
	border: solid 5px #BF9B30;
	
	border-left-color: #BF9B30;
	border-top-color: #BF9B30;
	border-right-color: #e7c150;
	border-bottom-color: #e7c150;
	
	box-shadow: inset 20px 20px 60px #bebebe,
	inset -20px -20px 60px #ffffff;
}

.app {
	height: 100vh;
	width: 100vw;
}

.app .details {
	height: 80vh;
}

.title {
	font-size: 4em;
}

.accent-color {
	color: #BF9B30;
}

.secondary-color {
	color: #D1D8EC;
}

.btn-neumorphic {
	text-decoration: none;
	color: #333;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    background: #D1D8EC;
	-webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
	box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
	transition: 400ms;
}

.btn-neumorphic:hover {
	-webkit-box-shadow: 6px 6px 12px #b2b8c9, -6px -6px 12px #f0f8ff;
	box-shadow: 6px 6px 12px #b2b8c9, -6px -6px 12px #f0f8ff;
}

.btn-neumorphic:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}


.montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}  

.playfair {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}


/*
.shine::before {
	content: "";
	background: #fffa;
	width: 10px;
	height: 10px;
	position: absolute;
	left: -100%;
	top: 0;
	animation: brilliant 10s infinite;
}

@keyframes brilliant {
	0% {
		left: -100%;
		transition-property: left;
	}
	100% {
		left: 100%;
		transition-property: left;
	}
}

*/